@import "../../../scss/variables";
.row__third-level {
   position: relative;
   width: 99px;
   svg:nth-child(1) {
      position: absolute;
      top: -16px;
      left: 28px;
   }
   svg:nth-child(2) {
      @include svg-2-from-level-thrd-rest;
   }
   svg:nth-child(3) {
      @include svg-3-from-level-thrd-rest;
   }
   svg:nth-child(4) {
      @include svg-4-from-level-thrd-rest;
   }
   div:nth-child(1) {
      @include label-for-level-not-active;
   }
   @include hover-for-rest-and-third-level;
}
