.row__third-level {
   position: relative;
   width: 99px;
   svg:nth-child(1) {
      position: absolute;
      top: -16px;
      left: 28px;
   }
   svg:nth-child(2) {
      position: absolute;
      top: 29px;
      left: 28px;
   }
   svg:nth-child(3) {
      position: absolute;
      left: 40px;
      top: 22px;
   }
}
