@import "../../../scss/variables";
.row__level-two {
   position: relative;
   width: 99px;
   svg:nth-child(1) {
      position: absolute;
      top: 28px;
      left: 7.5px;
   }
   svg:nth-child(2) {
      position: absolute;
      z-index: 10;
      top: 21px;
      left: 19.5px;
   }
   svg:nth-child(3) {
      position: absolute;
      left: 28px;
      top: 36px;
   }
   div {
      @include label-for-level;
   }
}
