.main {
   flex: 1 1 1686px;
   background-color: #202124;
   .main__container {
      padding-left: 10px;
      padding-right: 9px;
      .container__title-columns {
         display: flex;
         flex: 1 1 1666px;
         font-size: 14px;
         line-height: 130%;
         letter-spacing: 0.1px;
         height: 42px;
         border-bottom: 1px solid #414144;
         padding-left: 12px;
         div:nth-child(1) {
            width: 110px;
         }
         div:nth-child(2) {
            width: 757px;
         }
         div:nth-child(n + 3) {
            width: 200px;
         }
         .title-columns__items {
            align-self: center;
            color: #a1a1aa;
         }
      }
   }
}
