.row__text-field {
   border: $border-classic;
   background-color: inherit;
   color: #71717a;
   height: 36px;
   border-radius: 6px;
   padding-left: 10px;
   display: flex;
   width: calc(100% - 30px);
   &:focus {
      outline: 0;
   }
   input {
   }
}
