@mixin hover-increase-effect {
   &:hover {
      transition: 0.2s all ease-in;
      transform: scale(1.04);
   }
}

.header {
   .header__container {
      .header__up {
         display: flex;
         height: 44px;
         .up__menu {
            padding: 14px 27px 14px 24px;
            transition: 0.3s all ease-in;
            @include hover-increase-effect;
         }
         .up__button {
            @include hover-increase-effect;
            padding: 15px 34px 14px 0;
         }
         .up__selectors {
            display: flex;
            .selectors__title {
               font-size: 14px;
               line-height: 16px;
               align-self: center;
               padding: 13px 0px 13px 0px;
               margin-right: 20px;
            }
         }
      }
      .header__down {
         display: flex;
         height: 43px;
         .down__title-project {
            width: 234px;
            color: #a1a1aa;
            display: flex;
            flex: 0 0 auto;
            justify-content: space-between;
            .title-project__info {
               padding: 8px 68px 8px 20px;
               .title-project__title {
                  font-size: 14px;
                  line-height: 16px;
               }
               .title-project__abbreviation {
                  font-size: 10px;
                  line-height: 12px;
               }
            }
            .title-project__checkmark {
               padding: 6px 13px 18px 0;
               @include hover-increase-effect;
            }
         }
         .down__main-title {
            flex: 0 0 auto;
            padding: 11px 15px 12px 15px;
            font-size: 18px;
            line-height: 21px;
         }
      }
   }
}
